### Ist Query Part 1: For each Category display the Product Name which has second Highest Sale?

In [83]:
import sqlite3

# Create a connection to an in-memory SQLite database
conn = sqlite3.connect(':memory:')

# Load the DataFrame into SQLite
df.to_sql('Orders', conn, index=False, if_exists='replace')

# Run SQL queries for each Category display the Product Name which has second Highest Sale?
query1 = '''
    WITH RankedSales AS (
    SELECT 
        "Category",
        "Product Name",
        "Sales",
        RANK() OVER (PARTITION BY "Category" ORDER BY "Sales" DESC) AS sales_rank
    FROM Orders
)
SELECT 
    "Category",
    "Product Name",
    "Sales"
FROM RankedSales
WHERE sales_rank = 2;
'''

result_df = pd.read_sql(query1, conn)

# Display the result
print(result_df)

          Category                                       Product Name  \
0        Furniture  Riverside Palais Royal Lawyers Bookcase, Royal...
1  Office Supplies               Ibico EPK-21 Electric Binding System
2       Technology              Canon imageCLASS 2200 Advanced Copier

      Sales
0   4404.90
1   9449.95
2  17499.95

### Ist Query Part 2: For each Sub-Category display the Product Name which has second Highest Sale?

In [85]:
# For each Sub-Category display the Product Name which has second Highest Sale?
query2 = '''
    WITH RankedSales AS (
    SELECT 
        "Sub-Category",
        "Product Name",
        "Sales",
        RANK() OVER (PARTITION BY "Sub-Category" ORDER BY "Sales" DESC) AS sales_rank
    FROM Orders
)
SELECT 
    "Sub-Category",
    "Product Name",
    "Sales"
FROM RankedSales
WHERE sales_rank = 2;
'''

result_df = pd.read_sql(query2, conn)

# Display the result
print(result_df)

   Sub-Category                                       Product Name      Sales
0   Accessories  Plantronics CS510 - Over-the-Head monaural Wir...   2309.650
1    Appliances  Sanyo 2.5 Cubic Foot Mid-Size Office Refrigera...   2518.290
2           Art  Boston Heavy-Duty Trimline Electric Pencil Sha...    385.600
3       Binders               Ibico EPK-21 Electric Binding System   9449.950
4     Bookcases  Riverside Palais Royal Lawyers Bookcase, Royal...   4228.704
5        Chairs       HON 5400 Series Task Chairs for Big and Tall   3785.292
6       Copiers              Canon imageCLASS 2200 Advanced Copier  13999.960
7     Envelopes  Ames Color-File Green Diamond Border X-ray Mai...    419.900
8     Fasteners          Alliance Super-Size Bands, Assorted Sizes     93.360
9   Furnishings               Tenex Antistatic Computer Chair Mats   1196.860
10       Labels  Dot Matrix Printer Tape Reel Labels, White, 50...    629.184
11     Machines   3D Systems Cube Printer, 2nd Generation, Magenta   9099.930
12        Paper                 Multicolor Computer Printout Paper    629.100
13        Paper                                         Xerox 1915    629.100
14        Paper                                         Xerox 1915    629.100
15       Phones                            Samsung Galaxy Mega 6.3   4367.896
16      Storage      Tennsco 16-Compartment Lockers with Coat Rack   2591.560
17     Supplies        High Speed Automatic Electric Letter Opener   4912.590
18       Tables         Bretford Rectangular Conference Table Tops   3610.848

### II Query Part 1: For each Category find all the other product names except the product which has second highest sale.

In [95]:
# For each Category find all the other product names except the product which has second highest sale.
query3 = '''
    WITH RankedSales AS (
    SELECT 
        "Category",
        "Product Name",
        "Sales",
        RANK() OVER (PARTITION BY "Category" ORDER BY "Sales" DESC) AS sales_rank
    FROM Orders
)
SELECT 
    "Category",
    "Product Name",
    "Sales"
FROM RankedSales
WHERE sales_rank != 2;
'''

result_df = pd.read_sql(query3, conn)

# Display the result
print(result_df)

         Category                                       Product Name     Sales
0       Furniture       HON 5400 Series Task Chairs for Big and Tall  4416.174
1       Furniture  Chromcraft Bull-Nose Wood Oval Conference Tabl...  4297.644
2       Furniture  Riverside Palais Royal Lawyers Bookcase, Royal...  4228.704
3       Furniture              DMI Eclipse Executive Suite Bookcases  4007.840
4       Furniture       HON 5400 Series Task Chairs for Big and Tall  3785.292
...           ...                                                ...       ...
10186  Technology             RCA Visys Integrated PBX 8-Line Router     2.210
10187  Technology                          Maxell 4.7GB DVD+R 5/Pack     1.980
10188  Technology                          Maxell 4.7GB DVD+R 5/Pack     1.980
10189  Technology                          Maxell 4.7GB DVD-R 5/Pack     1.584
10190  Technology                          Maxell 4.7GB DVD-R 5/Pack     0.990

[10191 rows x 3 columns]

### II Query Part 2: For each Sub-Category find all the other product names except the product which has second highest sale.

In [97]:
# For each Sub-Category find all the other product names except the product which has second highest sale.
query3 = '''
    WITH RankedSales AS (
    SELECT 
        "Sub-Category",
        "Product Name",
        "Sales",
        RANK() OVER (PARTITION BY "Sub-Category" ORDER BY "Sales" DESC) AS sales_rank
    FROM Orders
)
SELECT 
    "Sub-Category",
    "Product Name",
    "Sales"
FROM RankedSales
WHERE sales_rank != 2;
'''

result_df = pd.read_sql(query3, conn)

# Display the result
print(result_df)

      Sub-Category                                       Product Name  \
0      Accessories                 LogitechÂ P710e Mobile Speakerphone
1      Accessories                      Logitech diNovo Edge Keyboard
2      Accessories                      Logitech diNovo Edge Keyboard
3      Accessories  Plantronics Savi W720 Multi-Device Wireless He...
4      Accessories  Plantronics CS510 - Over-the-Head monaural Wir...
...            ...                                                ...
10170       Tables                               KI Conference Tables
10171       Tables     Anderson Hickey Conga Table Tops & Accessories
10172       Tables     Anderson Hickey Conga Table Tops & Accessories
10173       Tables           Balt Split Level Computer Training Table
10174       Tables           Balt Split Level Computer Training Table

          Sales
0      3347.370
1      2249.910
2      2249.910
3      2025.360
4      1979.700
...         ...
10170    35.445
10171    27.414
10172    24.368
10173    19.600
10174     2.210

[10175 rows x 3 columns]

### III Query Part 1: Calculating the distribution of region percentages for each category based on the sales of products in that region.

In [112]:
# For each Sub-Category find all the other product names except the product which has second highest sale.
query4 = '''
    WITH CategoryRegionSales AS (
    SELECT
        "Category",
        "Region",
        SUM("Sales") AS total_sales
    FROM Orders
    GROUP BY "Category", "Region"
),
CategoryTotalSales AS (
    SELECT
        "Category",
        SUM("Sales") AS category_total_sales
    FROM Orders
    GROUP BY "Category"
)
SELECT 
    crs."Category",
    crs."Region",
    crs.total_sales,
    (crs.total_sales / cts.category_total_sales) * 100 AS region_percentage
FROM CategoryRegionSales crs
JOIN CategoryTotalSales cts
    ON crs."Category" = cts."Category"
ORDER BY crs."Category", crs."Region";
'''

result_df = pd.read_sql(query4, conn)

# Display the result
print(result_df)

           Category   Region  total_sales  region_percentage
0         Furniture  Central  164537.6518          21.800350
1         Furniture     East  212231.6960          28.119553
2         Furniture    South  117298.6840          15.541442
3         Furniture     West  260679.7295          34.538656
4   Office Supplies  Central  168216.7090          22.983775
5   Office Supplies     East  211658.4010          28.919297
6   Office Supplies    South  125651.3130          17.167982
7   Office Supplies     West  226366.8910          30.928946
8        Technology  Central  170416.3120          20.290234
9        Technology     East  267938.0710          31.901442
10       Technology    South  148771.9080          17.713192
11       Technology     West  252766.9880          30.095132

### III Query Part 2: Calculating the distribution of region percentages for each sub-category based on the sales of products in that region.

In [117]:
# For each Sub-Category find all the other product names except the product which has second highest sale.
query5 = '''
    WITH SubCategoryRegionSales AS (
    SELECT
        "Sub-Category",
        "Region",
        SUM("Sales") AS total_sales
    FROM Orders
    GROUP BY "Sub-Category", "Region"
),
SubCategoryTotalSales AS (
    SELECT
        "Sub-Category",
        SUM("Sales") AS sub_category_total_sales
    FROM Orders
    GROUP BY "Sub-Category"
)
SELECT 
    crs."Sub-Category",
    crs."Region",
    crs.total_sales,
    (crs.total_sales / cts.sub_category_total_sales) * 100 AS region_percentage
FROM SubCategoryRegionSales crs
JOIN SubCategoryTotalSales cts
    ON crs."Sub-Category" = cts."Sub-Category"
ORDER BY crs."Sub-Category", crs."Region";
'''

result_df = pd.read_sql(query5, conn)

# Display the result
print(result_df)

   Sub-Category   Region  total_sales  region_percentage
0   Accessories  Central    33956.076          20.286779
1   Accessories     East    45033.372          26.904819
2   Accessories    South    27276.754          16.296273
3   Accessories     West    61114.116          36.512128
4    Appliances  Central    23582.033          21.792199
..          ...      ...          ...                ...
63     Supplies     West    18127.122          38.794925
64       Tables  Central    39154.971          18.822679
65       Tables     East    39926.147          19.193401
66       Tables    South    43916.192          21.111505
67       Tables     West    85022.872          40.872415

[68 rows x 4 columns]